# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Environment
.env

# Data outputs
data/processed/*.csv

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Power BI temp files
*.pbix.autosave